<ul class="links">
  <li class="{% if page.url == '/' %} active {% endif %}"><a href="{{ '/' | prepend:site.baseurl }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ '/about/' | prepend:site.baseurl }}">Concept</a></li>
  <li class="{% if page.url contains '/team/' %} active {% endif %}"><a href="{{ '/team/' | prepend:site.baseurl }}">Team</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ '/blog/' | prepend:site.baseurl }}">Blog</a></li>
  <li class="{% if page.url contains '/contact/' %} active {% endif %}"><a href="{{ '/contact/' | prepend:site.baseurl }}">Contact</a></li>
  <!--<li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ '/elements/' | prepend:site.baseurl }}">Elements</a></li>-->
</ul>
