<ul class={{ include.className }}>

  {% if site.twitter %}
  <li>
    <a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow" target="_blank">
      <span class="label">Twitter</span>
    </a>
  </li>
  {% endif %}

  {% if site.facebook %}
  <li>
    <a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow" target="_blank">
      <span class="label">Facebook</span>
    </a>
  </li>
  {% endif %}

  {% if site.instagram %}
  <li>
    <a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow" target="_blank">
      <span class="label">Instagram</span>
    </a>
  </li>
  {% endif %}

  {% if site.githubid %}
  <li>
    <a href="https://github.com/{{site.githubid}}" class="icon fa-github" rel="nofollow" target="_blank">
      <span class="label">GitHub</span>
    </a>
  </li>
  {% endif %}

</ul>